:root{
  --mainColor:pink;
  --secondaryColor:black;

  ;
  --borderColor:#c1c1c1;
  --mainText:white;
  

}


.nav,  .nav-item {
  /* background-color: var(--secondaryColor);
  border:2px solid var(--borderColor);
  -webkit-box-shadow: 5px 13px 20px 10px rgba(151,170,167,0.85); 
  box-shadow: 5px 13px 20px 10px rgba(151,170,167,0.85);
  justify-content:space-around;
  border-radius: 5px 5px 0 0;
  grid-template-rows: 3em;
  list-style: none;
  display: flex; */
  background-color: var(--secondaryColor);

}

.home-container {
  display:flex;
}
/* 
footer ul {
  display: flex;
  padding: 0 10px;
  margin-top: 0px;
  
}
footer ul li {
  padding-top: 10px;
  list-style-type: none;
  justify-content: center;
}
/* hide underline for each link 
footer ul li a {
  text-decoration: none;
  display: block;
  padding:0 15px;
  font-size: 10px;
  color: var(--mainText);

} */
/* footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  width: 100%;
  text-align: center;
  background-color: pink;
} */
.whiteava {
  border-radius: 200%;
  height: 200px;
  vertical-align: text-top;
}

h2, h3 {
  text-align: center;
}

.row div {
  transition: transform 0.7s;

}
.row div:hover {
  transform: scale(1.1);

  color: pink;

}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}
footer p {
  width: 100%;
  margin: 10px 0px;
  color: white;
  text-align: center;
  
}

footer li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px;
  transition: transform 0.7s;
  list-style-type: none;
  margin-top: 15px;

}

footer li:hover {
  transform: scale(1.1);

  color: pink;

}
.fab:hover {
  color: pink;
}
.far:hover {
  color: pink;
}
.fas:hover {
  color: pink;
}
footer a {
  display: inline-block;

}
.fab, .far, .fas {
  color:black;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 5px 20px 5px;
  text-align: center;
  padding: 15px;

}
.projects {
  flex: 1 1;
}

.project img {
  width: 100%;
  border-radius: 8px;
}
.project:hover {
  filter: brightness(90%);
}

button {
  border-radius: 5px;
}
button:hover {
  background-color: pink;
}